<div class="col-md-6">
  <div class="panel panel-default book">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-8">
          <%= truncate(item[:title], length: 80) %> (<%= item[:publication_year] %>)<br/>
          By: <%= item[:authors] ? item[:authors].join(', ') : "Author Missing" %> 
        </div>
        <div class="col-md-4">
          <%= image_tag item[:image_url] %>
        </div>
      </div>
    </div>
  </div>
</div>