/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// fonts
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700);
$sans-serif: "Lato", Helvetica, Arial, sans-serif;
$serif: "Gentium Book Basic", Georgia, Times, Serif;

// primary colors
$sage: #9C9F84;
$cream: #F7DCB4;

// body colors
$body-bg: lighten($sage, 20%);

// navbar colors
$navbar-default-bg: $sage;
$navbar-default-link-color: $cream;

@import "bourbon";
@import "neat";

// resets

body, div, ul, li, p, h1, h2, h3, h4, h5, a {
  margin: 0;
  border: 0;
  padding: 0;
  
  font: inherit;
  color: inherit;
  background: inherit;
}

body {
  font-family: $sans-serif;
  font-size: 16px;
  background: lighten($sage, 20%);
}

a {
  text-decoration: none;
}

// utility

.clearfix:after {
  clear: both;
  display: block;
  content: '';
}

// offsets for fixed top/bottom navbars

.navs { list-style: none; }
.right { float: right; }
.left { float: left; }

header.navigation {
  nav.primary {
    background: $sage;
    border-bottom: 1px solid $cream;
    
    .brand {
      float: left;
      a {
        display: inline-block;
        font-size: 24px;
        padding: 12px 16px;
      }
    }
    
    .navs {
      li {
        float: left;
        + li { border-left: 1px dashed $cream; }
        a {
          display: inline-block;
          padding: 16px;
        }
      }
    }
  }
  nav.contextual {
    background: lighten($sage, 10%);
    border-bottom: 2px solid $cream;
    
    .navs {
      li {
        float: left;
        + li { border-left: 1px dashed $cream; }
        a {
          display: inline-block;
          padding: 8px 16px;
        }
      }
    }
  } 
}
