/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// fonts

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700);
$font-family-sans-serif: "Lato", Helvetica, Arial, sans-serif;
$font-family-serif: "Gentium Book Basic", Georgia, Times, Serif;

// primary colors

$sage: #9C9F84;
$cream: #F7DCB4;

// body colors
$body-bg: lighten($sage, 20%);

// navbar colors
$navbar-default-bg: $sage;
$navbar-default-link-color: $cream;

@import "bootstrap-sprockets";
@import "bootstrap";

// offsets for fixed top/bottom navbars
body { 
  padding-top: 110px; 
  padding-bottom: 70px;
}

// navigation styling
.header > nav {
  border-bottom: 1px solid darken($navbar-default-bg, 20%);
  
  .navbar-brand {
    font-family: $font-family-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2.5em;
    
    &:hover { color: darken($cream, 10%); }
  }
  
  .navbar-main {
    li+li { border-left: 1px solid lighten($navbar-default-bg, 15%); }
  }
  
  hr { 
    margin: 0px;
    border-top: 1px solid darken($navbar-default-bg, 20%);
  }
  
  .navbar-context {
    form { 
      padding-left: 0; 
      
      .search-bar {
        min-width: 300px;
      }
    }
    
    background: lighten($navbar-default-bg, 7%);
    
    li { 
      + li { border-left: 1px solid lighten($navbar-default-bg, 10%); }
    }
  }
}

// profiles

.profile {
  border: 1px solid white;
  border-radius: 4px;
  
  background: $sage;
  
  .profile-header {
    color: $cream;
    padding: 8px;
    
    h3 {
      margin: 0;
    }
  }
  
  .profile-element {
    padding: 8px;
    background: lighten($sage, 10%);
    
    h4 {
      margin-top: 0;
      margin-bottom: 4px;
      border-bottom: 1px solid $cream;
    }
    
    code {
      background: inherit;
      color: inherit;
      margin: 0;
      padding: 0;
      border: 0;
    }
    
    &.last-element {
      padding-bottom: 16px;
      border-radius: 0 0 4px 4px;
    }
  }
  
  a {
    color: darken($sage, 30%);
  
    &:hover {
      color: black;
    }
  }
}

//

.book {
  background: $cream;
  border: darken($sage, 20%);
  
  img {
    height: 100px;
    width: 70px;
    
    float: right;
  }
  
  a {
    color: darken($sage, 30%);
    
    &:hover {
      color: black;
    }
  }
  
  &:hover {
    background: lighten($cream, 3%);
  };
  
  &:active {
    background: darken($cream, 3%);
  };
}