<div class="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if current_user %>
            <%= link_to "Sign Out", destroy_user_session_url, method: :delete %>
          <% else %>
            <%= link_to "Sign In", new_user_session_url %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</div>