<div class="header">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid navbar-main">
      <a class="navbar-brand" href="/">My Friends' Book Club</a>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Users", user_url(current_user) %>
        </li>
      </ul>
    </div>
    <%= render partial: 'navbar_context' %>
    </div>
  </nav>
</div>

<% if notice %>
  <div class="alert alert-warning"><%= notice %></div>
<% end %>

<% if alert %>
  <div class="alert alert-danger"><%= alert %></div>
<% end %>